<div class="col-md-6"  class="well hoverwell thumbnail">
	<div class="row">
		<div class="col-md-11">
		    <div class="row">
		      	<div class="col-md-6"><strong>Room Id &emsp;&nbsp;&nbsp; : &emsp;{{roomCommunication?.id}}</strong> </div>
		      	<div class="col-md-6"><strong>Name &emsp;&nbsp;&nbsp; :&emsp; {{roomCommunication?.name}}</strong> </div>
		    </div>
			<div class="row">
			    <div class="col-md-6"><strong>Room No&emsp;&nbsp; : &emsp;{{roomCommunication?.roomNumber}}</strong> </div>
			    <div class="col-md-6"><strong>Bed Info&nbsp;&nbsp;&nbsp; : &emsp;{{roomCommunication?.bedInfo}}</strong> </div>
			</div>
			<div class="row">
			    <div class="col-md-6"><strong>No. of Beds&nbsp;&nbsp;:&emsp; {{roomCommunication?.numPpl}}</strong> </div>
			    <div class="col-md-6"><strong>Price&emsp;&emsp; : &emsp;{{roomCommunication?.price}}</strong> </div>
			 </div>
			 <div class="row">
			    <div class="col-md-9"><strong>Availability&nbsp;  :&emsp; {{roomCommunication?.availability}}</strong> </div>
			 </div>
		  </div>
	</div>
</div>